openapi: 3.2.0
info:
  description: API Documentation
  version: 2.0.0
  title: TheGamesDB Publishers API
  license:
    name: GNU General Public License v3.0
    url: https://github.com/TheGamesDB/TheGamesDBv2/blob/master/LICENSE
servers:
- url: https://api.thegamesdb.net/
tags:
- name: Publishers
paths:
  /v1/Publishers:
    get:
      tags:
      - Publishers
      operationId: Publishers
      summary: Fetch Publishers list
      parameters:
      - in: query
        name: apikey
        description: (Required)
        required: true
        schema:
          type: string
      responses:
        200:
          description: result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Publishers'
        400:
          description: bad input parameter
        403:
          description: bad API key or hit rate-limit cap
components:
  schemas:
    Publishers:
      allOf:
      - $ref: '#/components/schemas/BaseApiResponse'
      - type: object
        required:
        - data
        properties:
          data:
            type: object
            required:
            - count
            - publishers
            properties:
              count:
                type: integer
                minimum: 0
              publishers:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/Publisher'
    BaseApiResponse:
      type: object
      required:
      - code
      - status
      - remaining_monthly_allowance
      - extra_allowance
      properties:
        code:
          type: integer
          minimum: 0
        status:
          type: string
        remaining_monthly_allowance:
          type: integer
          minimum: 0
        extra_allowance:
          type: integer
          minimum: 0
      example:
        code: 200
        status: Success
        remaining_monthly_allowance: 257
        extra_allowance: 0
    Publisher:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: integer
          minimum: 0
        name:
          type: string
      example:
        id: 2374
        name: .GEARS Studios
